* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: row;
}

.loginContainer {
    background: linear-gradient(90deg, rgba(17, 17, 17, 0.014), rgb(0, 16, 19));
    width: 780px;
    height: 560px;
}